.App {
  min-height: 100vh;
  /* height: 100%; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e3e3;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.next-button {
  margin-top: 100px;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #1cb0d4;
  width:30%;
  color: white;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0292b5;
}

.img-unsplash {
  margin-left: 10px;
  margin-right: 10px;
  width:500px;
  object-fit: cover;
  object-position: center top;
}

@media (max-width: 768px) {
  .img-unsplash {
    width: 250px;
  }
}

@media (max-width: 532px) {
  .gallery-container {
    margin-top: 50px;
    flex-direction: column;
  }
  .next-button {
    margin-bottom: 100px;;
  }
}